<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barra lateral dinamico</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.component.css">
</head>
<body>

  <section class="container body">
    <div class="sidebar">
      <div class="side-hide">
      </div>
     <th><img src="./assets/logo.png"></th>
      <ul>
        <li><a href="#">Control de Terapeutas</a></li>
        <li><a href="#">Control de Clientes</a></li>
        <li><a href="#">Aplicación de Pruebas</a></li>
        <li><a href="#">Resultado de Análisis</a></li>
        <li><a href="#">Consulta Post Terapeuta</a></li>
      </ul>

    </div>

    <div class="content">
      <h2>SideBar</h2>
      <p>Aqui aparecera los resultados que la doctora encuentre en su diagnostico asi lo podra visualizar de manera mas sencilla e interpretarlo</p>
      <p>El boton pertenece al menu lateral ya que es dinamico aparecera y desaparecera</p>


      <button>Mostrar Menu</button>
    </div>

  </section>

<!-- JS Script  -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>

  // Muestra SideBar
  $('button').on('click', function() {
    $(".container").toggleClass('show');
  })

  // Oculta SideBar
  $('.side-hide').on('click', function() {
    $(".container").toggleClass('show');
  });
</script>

</body>
</html>